.desktop-1-child,
.desktop-1-inner,
.desktop-1-item {
  position: absolute;
  top: 1726px;
  left: -26px;
  background-color: var(--color-gainsboro-200);
  width: 1473px;
  height: 855px;
}
.desktop-1-inner,
.desktop-1-item {
  top: 2471px;
}
.desktop-1-inner {
  top: 1164px;
  left: -3px;
  background-color: var(--color-lightpink-100);
  width: 1450px;
  height: 533px;
}
.react-1-icon {
  position: absolute;
  top: 1362px;
  left: 486px;
  width: 80px;
  height: 84px;
  overflow: hidden;
}
.hari-krishna {
  position: absolute;
  top: 56px;
  left: 58px;
  font-size: var(--font-size-31xl);
  font-family: var(--font-kaushan-script);
  display: inline-block;
  width: 360px;
  height: 30px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 436px;
  border-radius: var(--br-xs);
  background-color: var(--color-lightpink-100);
  width: 137px;
  height: 48px;
  cursor: pointer;
}
.about-me,
.contact,
.my-skills,
.profile {
  position: absolute;
  top: 6px;
  text-transform: capitalize;
}
.profile {
  left: 0;
  cursor: pointer;
}
.about-me,
.contact,
.my-skills {
  left: 285px;
}
.contact,
.my-skills {
  left: 128px;
  cursor: pointer;
}
.contact {
  left: 453px;
}
.rectangle-parent {
  position: absolute;
  top: 56px;
  left: 730px;
  width: 573px;
  height: 48px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-irish-grover);
}
.contact1,
.rectangle-div {
  position: absolute;
  cursor: pointer;
}
.rectangle-div {
  top: 441px;
  left: 993px;
  border-radius: var(--br-xs);
  background-color: var(--color-lightpink-100);
  width: 137px;
  height: 48px;
}
.contact1 {
  top: 447px;
  left: 1010px;
  font-size: var(--font-size-11xl);
  text-transform: capitalize;
  font-family: var(--font-irish-grover);
}
.wanna-clear-your {
  margin: 0;
}
.span,
.wanna-clear-your-container {
  font-weight: 600;
  font-family: var(--font-klee-one);
}
.wanna-clear-your-container {
  position: absolute;
  top: 577px;
  left: 59px;
  text-transform: capitalize;
  color: #363232;
  display: inline-block;
  width: 828px;
  height: 33px;
}
.span {
  font-size: var(--font-size-xl);
}
.lets-build-your-container {
  position: absolute;
  top: 342px;
  left: 59px;
  text-transform: capitalize;
  font-size: var(--font-size-41xl);
  font-family: var(--font-marko-one);
}
.check-out-my,
.what-i-do,
.what-skills-i {
  position: absolute;
  top: 811px;
  left: 682px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-marko-one);
}
.check-out-my,
.what-skills-i {
  top: 1192px;
  left: 83px;
}
.check-out-my {
  top: 1862px;
  left: 119px;
  font-size: var(--font-size-11xl);
}
.i-am-n,
.portfolio,
.the-skills-tools {
  position: absolute;
  left: 83px;
  font-family: var(--font-marko-one);
}
.portfolio {
  top: 1808px;
  font-size: var(--font-size-6xl);
}
.i-am-n,
.the-skills-tools {
  top: 1261px;
}
.i-am-n {
  top: 869px;
  left: 679px;
  display: inline-block;
  width: 585px;
}
.bootstrap,
.css,
.figma,
.html5,
.javascript,
.node,
.php,
.react,
.sql,
.vs-code {
  position: absolute;
  top: 1453px;
  left: 97px;
  font-family: var(--font-marmelad);
  display: inline-block;
  width: 74px;
  height: 27px;
}
.bootstrap,
.css,
.figma,
.javascript,
.node,
.php,
.react,
.sql,
.vs-code {
  left: 243px;
  width: 40px;
}
.bootstrap,
.figma,
.javascript,
.node,
.php,
.react,
.sql,
.vs-code {
  left: 343px;
  width: 103px;
}
.bootstrap,
.figma,
.node,
.php,
.react,
.sql,
.vs-code {
  left: 496px;
  width: 57px;
}
.bootstrap,
.figma,
.node,
.php,
.sql,
.vs-code {
  left: 635px;
  width: 42px;
}
.bootstrap,
.figma,
.node,
.php,
.vs-code {
  left: 762px;
  width: 43px;
}
.bootstrap,
.figma,
.node,
.vs-code {
  left: 880px;
  width: 69px;
}
.bootstrap,
.node,
.vs-code {
  left: 999px;
  width: 89px;
}
.bootstrap,
.node {
  left: 1145px;
  width: 61px;
}
.bootstrap {
  left: 1267px;
  width: 101px;
}
.css3-1-icon,
.javascript-1-icon,
.mysql-svgrepo-com-1-icon {
  position: absolute;
  top: 1363px;
  left: 613px;
  width: 80px;
  height: 84px;
  overflow: hidden;
}
.css3-1-icon,
.javascript-1-icon {
  top: 1358px;
  left: 352px;
  width: 81px;
}
.css3-1-icon {
  top: 1357px;
  left: 222px;
  width: 80px;
}
.download-removebg-preview-1-icon {
  position: absolute;
  top: 1363px;
  left: 730px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.bootstrap-1-icon,
.figma-1-icon,
.nodejs-1-icon,
.vscode-1-icon {
  position: absolute;
  top: 1363px;
  left: 875px;
  width: 80px;
  height: 84px;
  overflow: hidden;
}
.bootstrap-1-icon,
.nodejs-1-icon,
.vscode-1-icon {
  left: 995px;
  width: 81px;
}
.bootstrap-1-icon,
.nodejs-1-icon {
  top: 1368px;
  left: 1140px;
  width: 80px;
  height: 85px;
}
.bootstrap-1-icon {
  top: 1363px;
  left: 1275px;
  height: 84px;
}
.desktop-1-child1 {
  position: absolute;
  top: 1997px;
  left: 131px;
  border-radius: var(--br-15xl);
  background-color: var(--color-lightpink-200);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25) inset;
  width: 280px;
  height: 261px;
}
.download-removebg-preview-8 {
  position: absolute;
  top: 2003px;
  left: 198px;
  width: 146px;
  height: 153px;
  object-fit: cover;
}
.portfolio-site {
  position: absolute;
  top: 2144px;
  left: 204px;
  text-transform: capitalize;
  display: inline-block;
  width: 136px;
  height: 25px;
}
.desktop-1-child2 {
  position: absolute;
  top: 2182px;
  left: 187px;
  border-radius: var(--br-7xl-5);
  background-color: var(--color-lavenderblush);
  width: 182px;
  height: 38px;
}
.check-it {
  position: absolute;
  top: 2188px;
  left: 234px;
  text-transform: capitalize;
  display: inline-block;
  width: 88px;
  height: 26px;
}
.desktop-1-child3 {
  position: absolute;
  top: 1997px;
  left: 591px;
  border-radius: var(--br-15xl);
  background-color: var(--color-lightpink-200);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25) inset;
  width: 280px;
  height: 261px;
}
.online-cab-booking {
  position: absolute;
  top: 2144px;
  left: 639px;
  text-transform: capitalize;
  display: inline-block;
  width: 208px;
  height: 25px;
}
.desktop-1-child4 {
  position: absolute;
  top: 2182px;
  left: 647px;
  border-radius: var(--br-7xl-5);
  background-color: var(--color-lavenderblush);
  width: 182px;
  height: 38px;
}
.check-it1 {
  position: absolute;
  top: 2188px;
  left: 694px;
  text-transform: capitalize;
  display: inline-block;
  width: 88px;
  height: 26px;
}
.desktop-1-child5 {
  position: absolute;
  top: 1984px;
  left: 1023px;
  border-radius: var(--br-15xl);
  background-color: var(--color-lightpink-200);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25) inset;
  width: 280px;
  height: 261px;
}
.raksha {
  position: absolute;
  top: 2131px;
  left: 1121px;
  text-transform: capitalize;
  display: inline-block;
  width: 77px;
  height: 25px;
}
.desktop-1-child6 {
  position: absolute;
  top: 2169px;
  left: 1079px;
  border-radius: var(--br-7xl-5);
  background-color: var(--color-lavenderblush);
  width: 182px;
  height: 38px;
}
.check-it2 {
  position: absolute;
  top: 2175px;
  left: 1126px;
  text-transform: capitalize;
  display: inline-block;
  width: 88px;
  height: 26px;
}
.download-removebg-preview-9 {
  position: absolute;
  top: 1967px;
  left: 598px;
  width: 280px;
  height: 197px;
  object-fit: cover;
}
.download-removebg-preview-10-icon {
  position: absolute;
  top: 1941px;
  left: 1033px;
  width: 261px;
  height: 267px;
  object-fit: cover;
}
.ellipse-div {
  position: absolute;
  top: 2662px;
  left: 131px;
  border-radius: 50%;
  background-color: var(--color-lightpink-200);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25) inset;
  width: 340px;
  height: 335px;
}
.lets-talk {
  position: absolute;
  top: 2800px;
  left: 191px;
  font-size: var(--font-size-31xl);
  text-align: center;
  display: inline-block;
  width: 218px;
  height: 58px;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.rectangle-icon {
  position: absolute;
  top: 2568px;
  left: 881px;
  border-radius: 68px;
  width: 429px;
  height: 597px;
}
.html5-1-icon {
  position: absolute;
  top: 1362px;
  left: 98px;
  width: 74px;
  height: 74px;
  overflow: hidden;
}
.email-id,
.message,
.name,
.phone-number {
  position: absolute;
  top: 2596px;
  left: 905px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-marko-one);
}
.email-id,
.message,
.phone-number {
  top: 2702px;
}
.email-id,
.message {
  top: 2796px;
}
.message {
  top: 2901px;
  left: 910px;
}
.name1,
.text {
  line-height: 28px;
}
.text {
  position: absolute;
  height: 33.33%;
  width: 100%;
  top: 1.19%;
  left: 0;
  display: inline-block;
}
.name1 {
  position: relative;
}
.frame {
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  left: 0;
  border-radius: var(--br-40xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) var(--padding-mini);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-lightgray);
}
.ob-forms,
.ob-forms1,
.ob-forms2 {
  position: absolute;
  top: 2613px;
  left: 900px;
  width: 392px;
  height: 84px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.ob-forms1,
.ob-forms2 {
  top: 2712px;
}
.ob-forms2 {
  top: 2815px;
}
.name4,
.text3 {
  position: relative;
  line-height: 28px;
}
.text3 {
  display: inline-block;
  width: 300px;
  height: 28px;
  flex-shrink: 0;
}
.name4 {
  align-self: stretch;
}
.minheight {
  position: relative;
  width: 1px;
  height: 84px;
}
.frame3,
.ob-forms3,
.ob-formsbutton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame3 {
  border-radius: var(--br-40xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  width: 300px;
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-mini);
  justify-content: flex-start;
  color: var(--color-lightgray);
}
.ob-forms3,
.ob-formsbutton {
  position: absolute;
  font-size: var(--font-size-sm);
}
.ob-forms3 {
  top: 2918px;
  left: 900px;
  width: 300px;
  overflow: hidden;
  justify-content: flex-start;
}
.ob-formsbutton {
  top: 3101px;
  left: 936px;
  border-radius: var(--br-40xl);
  background-color: var(--color-mediumslateblue);
  border: 1px solid var(--color-mediumslateblue);
  padding: var(--padding-3xs) var(--padding-mini);
  justify-content: center;
  text-align: center;
  color: var(--color-white);
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3300px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
